<form [formGroup]="habilidadesNuevasForm">

<div class="modal-body">

  <div class="d-flex justify-content-between">
    <button type="button" class="rounded-circle btn-cerrar btn btn-dark mb-2" data-bs-toggle="collapse" data-bs-target="#collapseSkill" aria-expanded="false" aria-controls="collapseSkill" (click)="toggleBtnAgregarSkills()">      
      <mat-icon *ngIf="!btnAgregarSkill" class="pt-1">add</mat-icon>
      <mat-icon *ngIf="btnAgregarSkill" class="pt-1">remove</mat-icon>
    </button>

    <h2 class="modal-title">Skills</h2>  

    <button type="button" class="rounded-circle btn-cerrar btn btn-dark" (click)="activeModal.dismiss('Cross click')">      
      <mat-icon class="rounded-circle pt-1" >close</mat-icon>
    </button>

  </div>
  <div class="collapse" id="collapseSkill">
  
    <h4>Agregar Skill</h4>

    <table class="table table-dark table-striped">
  
      <thead>
        <tr>
          <th scope="col">Habilidad</th>
          <th scope="col" class="w-25">Porcentaje</th>  
          <th scope="col">Tipo</th>         
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <th scope="row" >
            <input type="text" class="form-control" placeholder= "Habilidad" formControlName="habilidadNueva" >
          </th> 
          <td>
            <input type="text" class="form-control" placeholder= "porcentaje" formControlName="porcentajeNuevo" >
          </td>
          <td>
            <select class="form-select" formControlName="idTipoSkillNuevo">
              
              <option value="1">Soft</option>
              <option value="2">Hard</option>              
            </select>
          </td>          
        </tr>
      
      </tbody>
    
      </table>

      <div>

        <button type="button" class="btn btn-dark mb-2 " (click)="agregarSkill()">Agregar</button>

      </div>

  </div>
</div>
</form>
<form [formGroup]="habilidadesForm"  >
<table class="table table-dark table-striped cuerpo-tabla">

    <thead>
        <tr>
          <th scope="col"class="w-50">Habilidad</th>
          <th scope="col"  class="porcentaje">%</th>    
          <th scope="col" class="tipo">Tipo</th> 
          <th class="boton"></th>  
          <th class="boton"></th>        
        </tr>
    </thead>

    
    <tbody  formArrayName="habilidades" *ngFor="let hab of habilidades.controls; let i=index" >
        <tr [formGroupName]="i">
          <th scope="row" >
            <input type="text" class="form-control" placeholder= "Habilidad" formControlName="habilidad">
          </th> 
          <th >
            <input type="text" class="form-control" placeholder= "porcentaje"  aria-describedby="button-addon2" formControlName="porcentaje">            
          </th>  
          <th>
            <select class="form-select" formControlName="id_tipo_skill">
              
              <option value="1">Soft</option>
              <option value="2">Hard</option>              
            </select> 
          </th>    
          <th>
            <button class="rounded-circle me-1" (click)="editarSkill(i)">
              <mat-icon class="pt-1"  >save</mat-icon>
           </button>     
         <button class="rounded-circle" (click)="borrarSkill(i)" >
          <mat-icon class="pt-1"  >delete</mat-icon>
       </button>        
        </th>   
        </tr>                
    </tbody>

  </table>

  </form>
