<div class="container " id="acerca-de">
    <div class="d-flex flex-wrap">
        <div>
        <div >
                <div>
                <app-btn-editar *ngIf="login" (click)="open()" class="d-flex justify-content-end me-3" ></app-btn-editar>
                </div>
                <h2 class="text-end ms-4 pe-4 fw-bold fst-italic"> Acerca de mi </h2>                        
            
        </div>

        <div class="foto-perfil me-3 float-start">
            <div class="d-flex justify-content-center">
                <img [src]="fotoPerfil[0].foto_perfil"  class="img-fluid border border-dark border-3" alt="foto de perfil">
                <app-btn-editar *ngIf="login" class="btn-imgaen position-absolute top-0 start-50 ms-4"  (click)="openFotoPerfilModal()" ></app-btn-editar>
            </div>
            <div class="position-relative">
                <h4 class="text-center  "> {{datosPorfolio[0].nombre}}  </h4>
                <h4 class="text-center "> {{datosPorfolio[0].apellido}} </h4>                    
            </div>
            <h5 class="text-center"> {{titulo[1].titulo}} </h5> 
        </div>
        <p class="text-justify pe-3"> {{datosPorfolio[0].descripcion}}</p>                     
        </div>
    </div>
</div>



<!-- 
<div class="container" id="acerca-de">
    <div class="d-flex justify-content-between">
        <div class="foto-perfil me-3 justify-content-center">
            <div class="d-flex position-relative justify-content-center">
                <img src="/assets/imagenes/perfil2.jpg"  class="img-fluid border border-dark border-3" alt="foto de perfil">
                <app-btn-editar class="btn-imgaen position-absolute top-0 start-100" *ngIf="login" (click)="openFotoPerfilModal()" ></app-btn-editar>
            </div>
            <div class="position-relative">
                <h4 class="text-center  "> {{datosPorfolio[0].nombre}}  </h4>
                <h4 class="text-center "> {{datosPorfolio[0].apellido}} </h4>                    
            </div>
            <h5 class="text-center"> Full Stack Development Jr </h5>  {{titulo.titulo}}
        </div>
        <div class="d-flex flex-column align-items-end descripcion">
            <div class="d-flex">
                <app-btn-editar *ngIf="login" (click)="open()" ></app-btn-editar>
                
                <h2 class="ms-4 pe-4 fw-bold fst-italic"> Acerca de mi </h2>                
            </div>
            <p class="text-justify pe-3"> {{datosPorfolio[0].descripcion}}</p>                 
        </div>
    </div>
</div> -->


