<div class="container" id="acerca-de">
    <div class="d-flex">
        <div>
            <img src="" alt="foto de perfil">
            <p>lorem ipsum dolor sit amet, consectetuer adipis</p>
        </div>
        <div>
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A alias sint consectetur voluptates et sunt sed deleniti reiciendis dolorum, nam, voluptatum aspernatur quibusdam dolore aut reprehenderit ab amet esse eum!</p>
        </div>
    </div>
</div>
