<div class="modal-header">
    <h4 class="modal-title">Editar foto de perfil</h4>    
    <button type="button" class="rounded-circle btn-cerrar btn btn-dark" (click)="activeModal.dismiss('Cross click')">      
      <mat-icon class="rounded-circle pt-1">close</mat-icon>
    </button>
  </div>
<form [formGroup]="formulario" >
  <div class="modal-body">
    
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">URL: </span>
        <input type="text" class="form-control" placeholder="subir foto" formControlName="foto_perfil">      
      </div>
            
  </div>
 
  <div class="modal-footer d-flex  justify-content-center">
   
        <button type="subbit" class="btn btn-dark " (click)="guardarDatos()" >Guardar</button>
    
   </div>
</form>  
  

