<div class="container" id="educacion">
    <h2 class="text-end pe-4">Educacion</h2>
    <div *ngFor="let dato of datos">
        <mat-card class="container d-flex mt-2">
            <div>
                <mat-card-title-group>
                
                    <mat-card-title class="instituto" >{{dato.instituto}} </mat-card-title>
                    <mat-card-subtitle class="titulo">{{dato.titulo}}</mat-card-subtitle>
                    <mat-card-subtitle class="periodo">{{dato.ingreso}} {{dato.egreso}}</mat-card-subtitle>
                    <mat-card-subtitle class="certificado">
                    <a [href]="dato.src">certificado</a>    
                    </mat-card-subtitle>
                    <mat-card-content class="ps-3 descripcion">
                         {{dato.descripcion}}
                    </mat-card-content>
                
                </mat-card-title-group>
            </div>
            <div class="pe-3">
                <img mat-card-md-image [src]="dato.src">
            </div>
        </mat-card>
    </div>
</div>


