<div class="container" id="educacion">
    
    <div class="d-flex justify-content-end">
        <app-btn-agregar *ngIf="login" (click)="agregarEducacion()" ></app-btn-agregar>
        <h2 class="text-end pe-4 position-relative ms-3">Educacion</h2>        
    </div> 
    <div *ngFor="let dato of datosPorfolio; let i = index">
        <mat-card class="container d-flex mt-2">
            <div class="d-flex w-100">
                <div class="d-flex row justify-content-evenly botones">
                    <app-btn-editar *ngIf="login" (click)="abrirModal(i)" ></app-btn-editar>
                    <br>
                    <app-btn-eliminar class="" *ngIf="login"></app-btn-eliminar>
                </div>
                <mat-card-title-group>
                    
                    <mat-card-title class="instituto" >{{dato.institucion}} </mat-card-title>
                    <mat-card-subtitle class="titulo">{{dato.titulo}}</mat-card-subtitle>
                    <mat-card-subtitle class="periodo">{{dato.fecha_egresado}}</mat-card-subtitle>
                    <mat-card-subtitle class="certificado">
                    <a [href]="dato.certificado">certificado</a>    
                    </mat-card-subtitle>
                    
                    <mat-card-content class="ps-3 descripcion w-100">
                         {{dato.descripcion}}
                    </mat-card-content>
                    
                </mat-card-title-group>
            </div>
            <div class="pe-3">
                <img mat-card-md-image [src]="dato.logo_educacion">
            </div>
        </mat-card>
    </div>
</div>

