<div class="modal-header">
    <h4 class="modal-title">Editar foto de portada</h4>    
    <button type="button" class="rounded-circle btn-cerrar btn btn-dark" (click)="activeModal.dismiss('Cross click')">      
      <mat-icon class="rounded-circle pt-1">close</mat-icon>
    </button>
  </div>
  
  <div class="modal-body">
    
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">URL: </span>
        <input type="text" class="form-control" placeholder="subir foto" [(ngModel)]="datos[0].imgPortada">
        <button type="button" class="btn btn-dark align-self-center" (click)="activeModal.close('Close click')">Examinar</button>
      </div>
      
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-dark ">Guardar</button>
</div>
 
    
  
