
<div class="container mb-4" id="proyectos">
    <!-- <h2 class="text-end pe-4" >Proyectos</h2> -->
    <div class="d-flex justify-content-end">
        <app-btn-agregar *ngIf="login" (click)="agregarProyecto()" ></app-btn-agregar>
        <h2 class="text-end pe-4 position-relative ms-3 fw-bold fst-italic">Proyectos</h2>        
    </div>
    <div cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
        <div class="drop-box" *ngFor="let dato of datosPorfolio"  cdkDrag [cdkDragDisabled]="!login" >
            <div *ngIf="login" class="d-flex my-2 justify-content-between">
                <div class="d-flex my-2 ">
                    <app-btn-editar class="me-3" (click)="abrirModal(dato.id_proyecto)" ></app-btn-editar>
                    <br>
                    <app-btn-eliminar (click)="eliminarProyecto(dato.id_proyecto)" ></app-btn-eliminar>
                </div>
                <div class="example-handle" cdkDragHandle>
                    <button class="btn move" cdkDragHandle>
                      <mat-icon>open_with</mat-icon>
                    </button>
                </div>                
            </div>    
          <!--   <div class="d-flex mt-3" *ngIf="login">
                <app-btn-editar  (click)="abrirModal(dato.id_proyecto)" ></app-btn-editar>
                <br>
                <app-btn-eliminar class="ms-2" (click)="eliminarProyecto(dato.id_proyecto)"></app-btn-eliminar>
            </div>      -->    
            <mat-card  class="row mt-2 flex-wrap">
                    <mat-card-title-group class="d-flex encabezado ">
                            
                                <mat-card-title class="nombre me-1" >{{dato.nombre}} </mat-card-title>
                                
                                <mat-card-subtitle class="periodo">{{dato.fecha}}</mat-card-subtitle>
                                <mat-card-subtitle class="link">
                                    <a [href]="dato.enlace" target="_blank" >link</a>    
                                </mat-card-subtitle>
                            
                            <mat-card-content *ngIf="!pantallasPequenias" class="descripcion mt-2 me-2">
                                <p class="text-wrap"> {{dato.descripcion}} </p>   
                            </mat-card-content> 
                            <div class="position-relative imagen-proy">
                                <img mat-card-md-image [src]="dato.proyecto_portada" class="img-fluid position-absolute top-50 start-50 translate-middle" (click)="abrirModalImagenes(dato.id_proyecto)"> 
                            </div> 
                                    
                    </mat-card-title-group>
                
                    <mat-card-content *ngIf="pantallasPequenias" class="descripcion mt-2">
                        <p class="text-wrap"> {{dato.descripcion}} </p>   
                    </mat-card-content> 
                 
            </mat-card>
        </div>
    </div>
</div>

