p{
    text-align: justify;   
    
}

.imagen-proy{
    width:10rem; /* or whatever width you want. */
    max-width:10rem; /* or whatever width you want. */
}

.cuerpoTarjeta{
    width: 75%;
}

.nombre{
    font-size: 1.25rem;    
}

.titulos{
    width:10rem; /* or whatever width you want. */
    max-width:10rem; /* or whatever width you want. */
    margin-right: 0;
    padding-right: 0;
}

.descripcion{
    width: 80%;
    max-width: 80%; 
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767.98px) {
    .pantallasGrandes{
        display: none;
    }
  
    .imagen-proy{
        width:10rem; /* or whatever width you want. */
        max-width:10rem; /* or whatever width you want. */
    }
    .botones{
        width:5rem; /* or whatever width you want. */
        max-width:5rem; /* or whatever width you want. */
    }

    .pantallasPequeñas{
        margin:0;
        padding:0;
    }
    .encabezado{
        padding-right: 0;
    }
    .titulos{
        padding-left: 0;
        padding-right: 0;
    }
    .descripcion{
        width: 100%;
        max-width: 100%;
    }
    
}
@media screen and (min-width: 768px) {
    .pantallasPequeñas{
        display: none;
    }
  
        
}