<div class="modal-header">
    <h4 class="modal-title">Editar experiencia</h4>    
    <button type="button" class="rounded-circle btn-cerrar btn btn-dark" (click)="activeModal.dismiss('Cross click')">      
      <mat-icon class="rounded-circle pt-1">close</mat-icon>
    </button>
  </div>
  
  <div class="modal-body">
    
    <form [formGroup]="formularioExperiencia" (ngSubmit)="enviarDatos()">
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Empresa: </span>
        <input type="text" class="form-control" placeholder= "empresa" formControlName="empresa">
      </div>
      
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Puesto: </span>
        <input type="text" class="form-control" placeholder="puesto" formControlName="puesto" >
      </div>
      
      <div class="input-group flex-nowrap mt-2">
        <label class="input-group-text texto-titulo">Ingreso: </label>
        <input type="date" class="form-control" placeholder="fecha ingreso" formControlName="fecha_ingreso">
      </div>

      <div class="input-group flex-nowrap mt-2">
        <label class="input-group-text texto-titulo">Salida: </label>
        <input type="date" class="form-control" placeholder="fecha egreso" formControlName="fecha_egreso">
      </div>
    
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Descripción: </span>
        <textarea class="form-control" aria-label="With textarea" formControlName="descripcion"></textarea>  
      </div>        

      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">URL: </span>
        <input type="text" class="form-control" placeholder="subir foto" formControlName="logo_empresa">
      </div>
    </form>    
  </div>
  
  <div class="modal-footer d-flex justify-content-evenly">

    <div class=" ">
        <button type="button" class="btn btn-dark align-self-center" (click)="activeModal.close('Close click')">Examinar</button>
    </div>


    <div class=" align-self-end">
        <button type="submit" class="btn btn-dark " (click)="activeModal.close('Close click')">Guardar</button>
    </div>
   </div>