<div class="d-flex" *ngIf="!login else conSesion">    
    <div *ngFor="let red of datosPorfolio">
        <a [href]="red.url" [target]="red.nombre" class="me-2">
            <img class="img-fluid" class="bg-light mb-2" [title]="red.nombre" [src]="red.logo_url" [alt]="red.nombre">
        </a>             
    </div>
    <app-btn-inicio-sesion class="btn-inicio"></app-btn-inicio-sesion>
</div>

<ng-template #conSesion>
    <div>
        <ul *ngFor="let red of datosPorfolio">    
            <li class="d-flex pt-2 justify-content-center">
                <a [href]="red.url" [target]="red.nombre" class="me-2">
                    <img class="img-fluid" class="bg-light"[title]="red.nombre" [src]="red.logo_url" [alt]="red.nombre">
                </a>     
            </li>   
        </ul>
        <ul>
            <li class="m-0 p-0 justify-content-center">
                <app-btn-inicio-sesion class="btn-inicio"></app-btn-inicio-sesion>
            </li>
        </ul>
    </div>
</ng-template>

   