
/* *{
    background-color: #2c2c2c;
    color: #ffffff
}
.texto-titulo{
    padding-right: 30px;
} */
/* mat-icon{
    padding-top: 3px; 
    color: #5c5c5c;
    background-color: #ffffff;
    
}
.btn-cerrar{
    padding-top: 3px;
    background-color: #ffffff;
    color: #5c5c5c,

} */