<div class="container" id="experiencia">
    <div class="d-flex">
        <h2 class="position-relative me-3">Experiencia</h2>
        <app-btn-agregar *ngIf="login" (click)="agregarExperiencia()" ></app-btn-agregar>
    </div>
    <div *ngFor="let dato of datosPorfolio; let i = index">
        <mat-card class="example-card mb-2">
            <mat-card-title-group>                
                <mat-card-title class="d-flex order-md-1 me-2 mt-2">
                    <div  *ngIf="login"  class="row botones me-2 mt-2">
                        <app-btn-editar  (click)="abrirModal(dato.id_experiencia)" class="mb-2"></app-btn-editar>
                        <br>
                        <app-btn-eliminar (click)="eliminarExperiencia(dato.id_experiencia)"></app-btn-eliminar>
                    </div>
                    {{dato.empresa}} 
                </mat-card-title>
                <div class="subtitulos order-md-2 me-2 mt-3">
                    <mat-card-subtitle >{{dato.puesto}}</mat-card-subtitle>
                    <mat-card-subtitle >{{dato.fecha_ingreso}} {{dato.fecha_egreso}}</mat-card-subtitle>
                </div>
                <mat-card-content class="pantallas-grandes order-md-3 me-2 descripcion mt-3">
                    <p>{{dato.descripcion}}</p>
                </mat-card-content>
                <div class="img-edu order-md-4 position-relative ms-2 ">
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class=" img-fluid position-absolute top-50 start-50 translate-middle" >
                </div>
            </mat-card-title-group>
            <mat-card-content class="pantallas-pequeñas">
                <p>{{dato.descripcion}}</p>
            </mat-card-content>
          </mat-card>
    </div>  
</div>









<!-- 
<mat-card class="container d-flex mt-2">
    <div class="pe-3 inst-logo">
        <img mat-card-md-image class="img-fluid" [src]="dato.logoEmpresa">
    </div>
    <div class="w-100">
        <mat-card-title-group>
            <div class="titulos">
                <mat-card-title>{{dato.empresa}} </mat-card-title>
                <mat-card-subtitle>{{dato.puesto}}</mat-card-subtitle>
                <mat-card-subtitle>{{dato.fecha_ingreso}} {{dato.fecha_egreso}}</mat-card-subtitle>
            </div>
            <mat-card-content class="ps-3 w-100">
                {{dato.descripcion}}
            </mat-card-content>
            <div class="d-flex row justify-content-evenly botones">
                <app-btn-editar *ngIf="login" (click)="abrirModal(dato.id_experiencia)"></app-btn-editar>
                <br>
                <app-btn-eliminar class="" *ngIf="login"(click)="eliminarExperiencia(dato.id_experiencia)"></app-btn-eliminar>
            </div>
        </mat-card-title-group>
    </div>
</mat-card> -->




