<div class="container" id="experiencia">
    <h2>Experiencia</h2>

<div *ngFor="let dato of datos">
    <mat-card class="container d-flex mt-2">
        <div class="pe-3 inst-logo">
            <img mat-card-md-image [src]="dato.src">
        </div>
        <div>
            <mat-card-title-group>
            
                <mat-card-title>{{dato.empresa}} </mat-card-title>
                <mat-card-subtitle>{{dato.puesto}}</mat-card-subtitle>
                <mat-card-subtitle>{{dato.ingreso}} {{dato.egreso}}</mat-card-subtitle>
                <mat-card-content class="ps-3">
                     {{dato.descripcion}}
                </mat-card-content>
            
            </mat-card-title-group>
        </div>
    </mat-card>
</div>      
  


