p{
    text-align: justify;
    overflow-wrap: break-word;
}

mat-card-title{
    width:7rem; /* or whatever width you want. */
    max-width:7rem; /* or whatever width you want. */
}

.subtitulos{
    width:6rem; /* or whatever width you want. */
    max-width:6rem; /* or whatever width you want. */
}

.img-edu{
    width:10rem; /* or whatever width you want. */
    max-width:10rem; /* or whatever width you want. */
}


.descripcion{
    width: 100%;
    max-width: 100%;
}

.pantallasPequenias{
    width: 100%;
    max-width: 100%;
}


