<div class="container row justify-content-center">
  <div class="d-flex">
    <h2 id="skills" class="pe-2 fw-bold fst-italic">Skills</h2>
    <app-btn-agregar *ngIf="login" (click)="abrirModal()" ></app-btn-agregar>
   
  </div>

  <div class="row">
  <h2 class="mt-2 text-center">Soft</h2> 
  <div *ngFor="let skill of datosPorfolio" class="col-6 col-md-3 " >
    
    <div *ngIf="skill.id_tipo_skill === 1">               
        <h3 class="d-flex justify-content-center align-items-end text-center habilidad">{{skill.habilidad}} </h3>
        <circle-progress
        [percent]= skill.porcentaje
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#036403'"
        [innerStrokeColor]="'#80ffff'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        ></circle-progress>
      </div>    
  </div> 
</div>

<div class="row">
  <h2 class="mt-2 text-center">Hard</h2> 
  <div *ngFor="let skill of datosPorfolio" class="col-6 col-md-3 " >
    
    <div *ngIf="skill.id_tipo_skill === 2">               
        <h3 class="d-flex justify-content-center align-items-end text-center habilidad">{{skill.habilidad}} </h3>
        <circle-progress
        [percent]= skill.porcentaje
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004080'"
        [innerStrokeColor]="'#80ffff'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        ></circle-progress>
      </div>    
  </div> 
</div>
  
</div>    
