<div class="container row justify-content-center">
<h2 id="skills">Skills</h2>

  <div *ngFor="let label of chartLabels; let i=index" class="d-flex grafico d-flex justify-content-between col-12 col-sm-6 col-md-4 col-lg-3 pb-2">
    
      
        <canvas baseChart 
          chartType="doughnut"
          [data]="chartData[i]" 
          [labels]="chartLabels[i]"
          [colors]="chartColors[i]"                           
          [options]="chartOptions">          
        </canvas>
        
  </div>
  
</div>    
   