<div class="modal-header">
    <h4 class="modal-title">Editar proyectos</h4>    
    <button type="button" class="rounded-circle btn-cerrar btn btn-dark" (click)="activeModal.dismiss('Cross click')">      
      <mat-icon class="rounded-circle pt-1">close</mat-icon>
    </button>
  </div>
  
  <div class="modal-body">
    
    
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Nombre del proyecto: </span>
        <input type="text" class="form-control" placeholder= "Nombre" [(ngModel)]="datos.nombre">
      </div>
      
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Fecha: </span>
        <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="datos.Fecha">
      </div>
          
      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Descripción: </span>
        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="datos.descripcion"></textarea>  
      </div>        

      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">URL: </span>
        <input type="text" class="form-control" placeholder="subir foto" [(ngModel)]="datos.img">
      </div>

      <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">link: </span>
        <input type="text" class="form-control" placeholder="subir foto" [(ngModel)]="datos.link">
      </div>
      
      <div class="d-flex mt-3 justify-content-evenly">

        <div class=" ">
            <button type="button" class="btn btn-dark align-self-center" (click)="activeModal.close('Close click')">Examinar</button>
        </div>

      </div>


      
      
  </div>

  <div class=" modal-footer align-self-end">
    <button type="button" class="btn btn-dark " (click)="activeModal.close('Close click')">Guardar</button>
</div>



